* {
  margin: 0;
  padding: 0;
  font-family: 'poppins',sans-serif;
  box-sizing: border-box;
}

body {
  background: #f5e9ff;
}

.buttons {
  margin: 5opx;
}

.buttons button {
  /* background: #333;
  color: white; */
  border: 0;
  outline: 0;
  width: 120px;
  height: 40px;
  margin: 10px 0 0 12px;
  cursor: pointer;
}

button.success {
  background: green;
  color: white;
}
button.error {
  background: red;
  color: white;
}
button.unclear {
  background: orange;
  color: white;
}

.toastBox {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  overflow: hidden;
  padding: 20px;
}

.toast {
  width: 340px;
  height: 80px;
  background: white;
  font-weight: 600;
  margin: 15px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  position: relative;
  transform: translateX(100%);
  animation: moveleft 0.3s linear forwards;
}

.toast span {
  margin:0 20px;
  font-size: 28px;
  color: green;
}

.toast.error span{
  color: red;
}

.toast.unclear span {
  color: orange;
}

.toast::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: green;
  animation: anim 5s linear forwards;
}

.toast.error::after {
  background: red;
}

.toast.unclear::after {
  background: orange;
}

@keyframes anim {
  100% {
    width: 0;
  }
}

@keyframes moveleft {
  100% {
    transform: translateX(0);
  }
}